body {
    background-color:#fdb4bf; /* Cor de fundo rosa */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background: linear-gradient(to bottom, #db6e82 0%, #db6e82 30%, #fdb4bf 100%);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
}

header {
    background-color: #db6e82;
    width: 100%;
    text-align: center;
    padding: 40px 0px;
    font-family: "Inter", sans-serif;
    font-weight: normal;
}

h2{
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-style: italic;
    font-weight: normal;
}

h3{
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-style: italic;
    text-align: left;
    padding: 0px;
    width: 600px;
    position: relative;
    right: 600px;
    text-decoration: none;
    font-weight: normal;
}

.carousel {
    position: relative;
    overflow: hidden;
    width: 80%;
    max-width: 600px;
    display: block;
    margin: 20px 0; /* Espaço entre o carrossel e o header/footer */
    left: -600px;
}

.carousel-images {
    display: flex;
    transition: transform 1s ease;
}

.carousel-images img {
    width: 100%;
    min-width: 100%;
    border-radius: 10px;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    font-size: 18px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

footer {
    background-color: #db6e82;
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}



#logo{
    width: 150px;
    height: auto;
    position: absolute;
    left: 400px;
    top: 30px
}

#topo{
    margin: 15px;
    font-size: 25px;
}

#home{
    margin: 0 10px;
}

#profissionais{
    margin: 0 10px;
}

#contato{
    margin: 0 10px;
}

#Whatsapp{
    font-size: 30px;
    text-align: right;
    position: absolute;
    right: 200px;
    top: 55px;
}

#map{
    position: absolute;
    right: 40px;
    top: 370px;
    text-align: center;
    background-color: #db6e82;
    padding: 0px 10px 10px;
    border-radius: 13px;
    border-style: solid ;
    border-color: rgb(0, 0, 0);
}